<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="aus1st1" connectionString="Server=aus1db2.orchard.net.au,4656;User Id=pfizer_revolution_simplyworks;Password=R3v01#5;Database=Pfizer_Revolution_SimplyWorks;Integrated Security=false;" providerName="System.Data.SqlClient"/>-->
    <remove name="aus1st1" />
    <remove name="LocalSQLServer" />
    <remove name="RemoteSQLServer" />
    <remove name="xls" />
    <!-- <add providerName="System.Data.SqlClient" name="LocalSQLServer" connectionString="Server=SPITDEV03\SQLEXPRESSBRUNO;Database=HGC469_214;User ID=HGC469_214_WebUser;Password=Pifa)12u" />-->
    <add name="MySqlServer" connectionString="server=localhost;Database=cherrytree;UID=root;Password=root;" providerName="System.Data.SqlClient" />
    <add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.15.0;Data Source=%file%;Extended Properties=Excel 8.0;HDR=YES" />
    <add name="LocalSQLServer" connectionString="server = mssql4.openhost.net.nz; Database = LumberCorp; Persist Security Info = True; User ID = lumbercorp; Password = 49$A2q!8Zf" providerName="System.Data.SqlClient" />
    <!-- <add name="LocalSQLServer" connectionString="Server=HGC469_214.sql.maximumasp.net;Database=HGC469_214;User ID=HGC469_214_WebUser;Password=Pifa)12u" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="404.aspx" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>