<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="server=mssql2.openhost.net.nz;Database= LumberCorp;Persist Security Info=True;User ID=lumbercorp;Password=49$A2q!8Zf" />
    <add name="xls" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=BGA.xls;Extended Properties=Excel 8.0" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors defaultRedirect="mycustompage.htm" />
    <compilation targetFramework="4.0" />
  </system.web>
</configuration>